<div class="game"><canvas width="650" height="650"></canvas></div>
<div class="sidebar">
	<table>
		<tr>
			<td>Herausforderer</td>
			<td>Gegner</td>
		</tr>
		<tr>
			<td id="challenger"></td>
			<td id="opponent"></td>
		</tr>
		<tr>
			<td><img src="token_white.png"/></td>
			<td><img src="token_black.png"/></td>
		</tr>
		<tr>
			<td><span id="prisoners_challenger">0</span> Gefangene</td>
			<td><span id="prisoners_opponent">0</span> Gefangene</td>
		</tr>
	</table>
	<button class="end" id="endgame">Spiel beenden</button>
</div>
